registry=https://artifactory.riotinto.com/artifactory/api/npm/riotinto-npm/
//artifactory.riotinto.com/artifactory/api/npm/riotinto-npm/:_auth={auth-token-in-here}
email=Marc.Vergara@riotinto.com
always-auth=true